.description {
  color: #000; }
  .description .images {
    margin-top: 24px; }
  .description h2 {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    text-transform: uppercase;
    font: 30px "RobotoBold", sans-serif; }
  .description .icon {
    width: 43px;
    height: 43px;
    background-color: #fb383c; }
    .description .icon i {
      font-size: 27px;
      color: #fff;
      padding-left: 8px;
      padding-top: 8px; }
    .description .icon i.fa-clock-o, .description .icon .fa-smile-o {
      font-size: 31px;
      padding-left: 9px;
      padding-top: 5px; }
  .description .tasks {
    text-transform: uppercase;
    font: 16px "RobotoBold", sans-serif;
    padding: 20px 0; }
  .description .caption {
    padding-bottom: 40px;
    color: gray; }

.rooms .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .rooms .wrapper .row {
    margin-left: 0;
    margin-right: 0; }
  .rooms .wrapper .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    background-color: #ebf2f6; }
    .rooms .wrapper .title h2 {
      text-align: center;
      padding-top: 86px;
      padding-bottom: 110px;
      text-transform: uppercase;
      font: 30px "RobotoBold", sans-serif;
      color: #000;
      margin: 0; }
  .rooms .wrapper .rooms-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    background-color: #0c1013;
    padding: 88px 55px 84px 55px; }
    .rooms .wrapper .rooms-content .intro {
      color: #fff;
      text-align: left;
      padding-bottom: 35px;
      text-transform: uppercase;
      font: 25px "RobotoBold", sans-serif; }
    .rooms .wrapper .rooms-content .caption {
      padding-bottom: 65px; }
    .rooms .wrapper .rooms-content .settings {
      margin-bottom: 50px; }
      .rooms .wrapper .rooms-content .settings span {
        margin-right: 22px;
        margin-left: 15px; }
    .rooms .wrapper .rooms-content .button {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #fb383c;
      width: 193px;
      height: 43px;
      line-height: 2.9;
      text-align: center; }
    .rooms .wrapper .rooms-content .col-lg-6.col-md-6.col-sm-12.col-xs-12 {
      padding-left: 0;
      padding-right: 0;
      margin: 0; }
  .rooms .wrapper .images {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    background-color: #b4b4b4;
    min-height: 480px; }

.reviews .images {
  margin-top: 88px; }

.reviews .wrap-content {
  margin-top: 128px;
  color: #000; }
  .reviews .wrap-content .head {
    font: 30px "RobotoBold", sans-serif;
    text-transform: uppercase;
    color: #fb383c; }
    .reviews .wrap-content .head span {
      color: #000; }
  .reviews .wrap-content .intro {
    font: 15px "RobotoBold", sans-serif; }
  .reviews .wrap-content .content {
    color: #666666; }
  .reviews .wrap-content .name {
    font: 15px "RobotoBold", sans-serif;
    text-transform: uppercase; }
  .reviews .wrap-content .control {
    padding-left: 0;
    margin-top: 91px; }
    .reviews .wrap-content .control .left, .reviews .wrap-content .control .right {
      width: 36px;
      height: 36px;
      background-color: #fb383c;
      float: left;
      cursor: pointer;
      color: #fff;
      text-align: center;
      line-height: 2.1; }
      .reviews .wrap-content .control .left:active, .reviews .wrap-content .control .right:active {
        background-color: #000; }
    .reviews .wrap-content .control .right {
      margin-left: 15px; }

.reviews .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: #fff;
  background-color: #1f2225; }
  .reviews .wrapper .counter {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%;
    width: 360px;
    height: 200px;
    text-align: center; }
    .reviews .wrapper .counter .num {
      display: inline-block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 34px;
      padding-right: 12px;
      margin-top: 80px; }
    .reviews .wrapper .counter .caption {
      text-transform: uppercase;
      color: #999999;
      font-size: 0.75em; }
  .reviews .wrapper .movie {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }

.price {
  background-color: #ebf2f6;
  color: #000; }
  .price .title {
    text-align: center;
    padding: 91px; }
    .price .title h2 {
      text-align: center;
      text-transform: uppercase;
      font: 30px "RobotoBold", sans-serif;
      margin: 0; }
  .price .item {
    width: 351px;
    height: 530px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFF;
    margin-bottom: 130px; }
    .price .item span {
      display: inline-block;
      width: 100%;
      text-align: center; }
    .price .item .for {
      background-color: #1f2225;
      color: #fff;
      text-transform: uppercase;
      font-family: "RobotoBold", sans-serif; }
      .price .item .for .fline {
        padding-top: 47px; }
      .price .item .for .twline {
        padding-bottom: 43px;
        color: #999999;
        font: 11px "RobotoRegular", sans-serif; }
    .price .item .cost .fline {
      padding-top: 70px;
      font-size: 40px; }
    .price .item .cost .twline {
      font: 11px "RobotoRegular", sans-serif;
      text-transform: uppercase; }
    .price .item .caption {
      padding: 53px 40px 0 40px;
      color: #666666;
      font-size: 13px;
      text-align: center; }
    .price .item .order {
      margin-top: 90px;
      margin-bottom: 50px;
      padding: 0 80px; }
      .price .item .order .button {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fb383c;
        width: 193px;
        height: 43px;
        line-height: 2.9;
        text-align: center; }
    .price .item:hover {
      -webkit-animation-name: width, height;
      animation-name: width, height;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }

.news {
  background-color: #090c0e;
  color: #fff; }
  .news .title {
    text-align: center;
    padding: 91px; }
    .news .title h2 {
      text-align: center;
      text-transform: uppercase;
      font: 30px "RobotoBold", sans-serif;
      margin: 0; }
  .news .item {
    width: 350px;
    height: 480px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .news .item .images {
      -webkit-box-flex: 1;
      -webkit-flex: 1 100%;
          -ms-flex: 1 100%;
              flex: 1 100%;
      background-color: #eee;
      width: 300px;
      height: 187px; }
    .news .item .date {
      -webkit-box-flex: 1;
      -webkit-flex: 1 auto;
          -ms-flex: 1 auto;
              flex: 1 auto;
      width: 50px;
      height: 70px;
      background-color: #fb383c;
      margin-right: 29px;
      text-align: center; }
    .news .item .item-head {
      -webkit-box-flex: 4;
      -webkit-flex: 4 auto;
          -ms-flex: 4 auto;
              flex: 4 auto;
      width: 270px;
      height: 70px;
      border-bottom: 1px solid #b3b3b3;
      text-align: left;
      text-transform: uppercase; }
    .news .item .item-caption {
      font-size: 13px;
      color: #b3b3b3; }
    .news .item .options {
      font-size: 13px;
      color: #b3b3b3; }
      .news .item .options span {
        padding-right: 20px; }
      .news .item .options i {
        padding-right: 8px; }
  .news .all-post {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .news .all-post .button {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #fb383c;
      width: 193px;
      height: 43px;
      line-height: 2.9;
      text-align: center;
      margin-top: 91px;
      margin-bottom: 123px; }

footer {
  background-color: #1f2225;
  color: gray;
  font: 13px "RobotoRegular", sans-serif; }
  footer .company, footer .contact, footer .subscribe, footer .gallery {
    height: 258px;
    width: 255px; }
  footer .fline {
    margin-bottom: 39px;
    margin-top: 60px;
    color: #fff;
    font: 13px "OpenSansSemibold", sans-serif; }
  footer .company .fline {
    width: 100%; }
  footer .company .twline {
    float: left; }
  footer .contact .twline span {
    display: inline-block;
    padding-bottom: 28px; }
  footer .contact .twline i {
    padding-right: 15px; }
  footer .gallery .photo {
    width: 75px;
    height: 75px;
    background-color: #eee;
    margin-bottom: 15px; }
    footer .gallery .photo:hover {
      background-color: #fb383c;
      cursor: pointer; }
  footer .line {
    border-top: 1px solid #4c4e51; }
    footer .line .wrap {
      margin: 37px 0 60px 0; }
      footer .line .wrap:after {
        content: "";
        display: table;
        clear: both; }
      footer .line .wrap .icon {
        background-color: #16181a;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        float: right;
        margin-left: 15px; }
        footer .line .wrap .icon:hover {
          background-color: #2e3337;
          color: #fff; }
        footer .line .wrap .icon i {
          font-size: 17px;
          line-height: 2.4;
          padding-left: 9px; }
        footer .line .wrap .icon .fa-youtube {
          padding-left: 12px; }
        footer .line .wrap .icon .fa-facebook, footer .line .wrap .icon .fa-foursquare {
          padding-left: 14px; }
        footer .line .wrap .icon .fa-instagram {
          padding-left: 13px; }

.description-rooms {
  color: #000;
  background-color: #ebf2f6; }
  .description-rooms h2 {
    text-align: left;
    margin-top: 90px;
    padding-bottom: 54px;
    text-transform: uppercase;
    font: 30px "RobotoBold", sans-serif; }
  .description-rooms .caption {
    padding-bottom: 56px;
    color: gray;
    margin: 0; }
  .description-rooms .intro {
    font: 15px "RobotoBold", sans-serif;
    padding: 20px;
    border-left: 3px solid #fb383c;
    margin-bottom: 90px; }
  .description-rooms .item {
    width: 255px;
    height: 395px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFF;
    margin: 90px auto; }
    .description-rooms .item span {
      display: inline-block;
      width: 100%;
      text-align: center; }
    .description-rooms .item .cost {
      background-color: #1f2225;
      color: #fff;
      font-family: "RobotoBold", sans-serif;
      text-align: center;
      line-height: 0.9; }
      .description-rooms .item .cost .fline {
        padding-top: 38px;
        font-size: 30px;
        text-transform: uppercase; }
      .description-rooms .item .cost .twline {
        padding-top: 10px;
        padding-bottom: 28px;
        color: #999999;
        font: 11px "RobotoRegular", sans-serif; }
    .description-rooms .item .settings {
      font: 13px "OpenSansSemibold", sans-serif; }
      .description-rooms .item .settings span {
        display: inline-block;
        padding-top: 35px; }
      .description-rooms .item .settings i {
        font-size: 24px;
        color: #fb383c;
        padding-right: 16px; }
    .description-rooms .item .people {
      font: 11px "RobotoRegular", sans-serif; }
    .description-rooms .item .order {
      margin: 35px 31px; }
      .description-rooms .item .order .button {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #fb383c;
        width: 193px;
        height: 43px;
        line-height: 2.9;
        text-align: center; }

.location {
  height: 460px;
  background-color: #1f2225; }
  .location #map {
    width: 100%;
    height: 460px; }

.booking {
  margin-bottom: 141px; }
  .booking .topline {
    font: 30px "RobotoBold", sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center; }
    .booking .topline .wrap-topline {
      margin: 90px 28%;
      width: 500px; }
      .booking .topline .wrap-topline .month {
        float: left;
        margin: 0 81px; }
      .booking .topline .wrap-topline .nav-prev, .booking .topline .wrap-topline .nav-next {
        width: 36px;
        height: 36px;
        border: 1px solid #000;
        display: inline-block;
        float: left;
        cursor: pointer;
        line-height: 0.7; }
        .booking .topline .wrap-topline .nav-prev:hover, .booking .topline .wrap-topline .nav-next:hover {
          background-color: #1f2225;
          color: #fff; }
        .booking .topline .wrap-topline .nav-prev i, .booking .topline .wrap-topline .nav-next i {
          font-size: 13px; }
  .booking .week {
    width: 143px;
    height: 40px;
    color: #000;
    margin-right: 17px;
    text-align: center;
    text-transform: uppercase;
    font: 11px "RobotoRegular", sans-serif; }
    .booking .week.end {
      color: #fb383c; }
  .booking .element {
    padding: 0;
    margin-top: 17px;
    margin-right: 17px;
    width: auto; }
    .booking .element:last-child {
      margin-right: 0; }
    .booking .element .sheet-normal {
      border: 4px solid #ebf2f6;
      width: 143px;
      height: 143px; }
      .booking .element .sheet-normal .date {
        font: 25px "RobotoRegular", sans-serif;
        margin: 20px 40%;
        color: #000; }
      .booking .element .sheet-normal .avail {
        font: 13px "RobotoRegular", sans-serif;
        text-align: center;
        color: #666666; }
      .booking .element .sheet-normal .order .button {
        font: 11px "RobotoRegular", sans-serif;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #1f2225;
        width: 111px;
        height: 30px;
        text-align: center;
        margin: 4% 9%;
        line-height: 2.6;
        -webkit-border-radius: 1px;
                border-radius: 1px; }
        .booking .element .sheet-normal .order .button:hover {
          background-color: #fb383c; }
    .booking .element .sheet-nextmonth {
      background-color: #ebf2f6;
      border: 4px solid #ebf2f6;
      width: 143px;
      height: 143px; }
      .booking .element .sheet-nextmonth .date {
        font: 25px "RobotoRegular", sans-serif;
        margin: 20px 40%;
        color: #cccccc; }
      .booking .element .sheet-nextmonth .avail {
        display: none; }
      .booking .element .sheet-nextmonth .order {
        display: none; }
    .booking .element .sheet-notavail {
      border: 4px solid #ebf2f6;
      width: 143px;
      height: 143px; }
      .booking .element .sheet-notavail .date {
        font: 25px "RobotoRegular", sans-serif;
        margin: 20px 40%;
        color: #000; }
      .booking .element .sheet-notavail .avail {
        font: 13px "RobotoRegular", sans-serif;
        text-align: center;
        color: #fb383c;
        padding-top: 27px; }
      .booking .element .sheet-notavail .order {
        display: none; }

.description-faq {
  color: #1f2225;
  font: 15px	"RobotoBold", sans-serif; }
  .description-faq .question {
    width: 540px;
    height: 60px;
    margin-top: 30px;
    border: 1px solid #cccccc; }
    .description-faq .question .question-text {
      padding: 22px;
      margin: 0;
      float: left; }
    .description-faq .question .open-answer {
      width: 60px;
      height: 60px;
      float: right;
      border-left: 1px solid #cccccc;
      cursor: pointer; }
      .description-faq .question .open-answer i {
        padding: 23px;
        color: #999999; }
      .description-faq .question .open-answer .fa-minus {
        display: none; }
  .description-faq .answer {
    display: none;
    font: 13px "RobotoRegular", sans-serif;
    color: gray;
    width: 540px;
    padding: 22px;
    border: 1px solid #cccccc;
    border-top: none; }

.wrap-blog {
  color: #7e8893;
  margin-top: 90px; }
  .wrap-blog .title {
    color: #1f2225;
    font: 16px "RobotoBold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .wrap-blog .item {
    border-bottom: 1px solid #d1d5d8;
    width: 100%; }
    .wrap-blog .item:last-child {
      border-bottom: none; }
    .wrap-blog .item .theme {
      float: left; }
    .wrap-blog .item .counter {
      float: right; }
  .wrap-blog .left-sidebar {
    font: 14px "RobotoCondensedRegular", sans-serif;
    width: 255px; }
    .wrap-blog .left-sidebar .search {
      width: 255px;
      height: 40px;
      background-color: #f6f6f6;
      padding: 10px;
      line-height: 1.7; }
      .wrap-blog .left-sidebar .search i {
        padding-right: 15px;
        color: #d1d5d8; }
    .wrap-blog .left-sidebar .popular-post {
      margin-top: 60px; }
      .wrap-blog .left-sidebar .popular-post .ppost {
        margin-bottom: 30px; }
        .wrap-blog .left-sidebar .popular-post .ppost:last-child {
          margin-bottom: 0; }
        .wrap-blog .left-sidebar .popular-post .ppost img {
          width: 65px;
          height: 65px;
          background-color: grey;
          background-repeat: none;
          background-size: cover;
          float: left;
          margin-right: 15px; }
        .wrap-blog .left-sidebar .popular-post .ppost .caption {
          font: 11px "RobotoBold", sans-serif;
          text-transform: uppercase;
          color: #1f2225; }
        .wrap-blog .left-sidebar .popular-post .ppost .date {
          font: 11px "RobotoCondensedRegular", sans-serif;
          color: #b5bbc1; }
    .wrap-blog .left-sidebar .categories {
      margin-top: 60px; }
    .wrap-blog .left-sidebar .tags {
      margin-top: 80px; }
      .wrap-blog .left-sidebar .tags .cloud-tag {
        margin-left: -4px; }
        .wrap-blog .left-sidebar .tags .cloud-tag .tag {
          float: left;
          padding: 6px 14px;
          font: 13px "RobotoCondensedRegular", sans-serif;
          border: 1px solid #edeef0;
          margin: 4px;
          cursor: pointer; }
          .wrap-blog .left-sidebar .tags .cloud-tag .tag:hover {
            border: 1px solid #1f2225;
            color: #1f2225; }
    .wrap-blog .left-sidebar .archive {
      margin: 60px 0; }
  .wrap-blog .main .note {
    max-width: 730px;
    margin-top: 53px; }
    .wrap-blog .main .note:first-child {
      margin-top: 0; }
    .wrap-blog .main .note:last-child {
      margin-bottom: 71px; }
    .wrap-blog .main .note img {
      height: 390px;
      max-width: 730px;
      width: 100%; }
    .wrap-blog .main .note .header {
      margin: 20px 0;
      text-transform: uppercase;
      color: #1f2225;
      width: 100%; }
      .wrap-blog .main .note .header .date {
        width: 6.84932%;
        height: 70px;
        border: 2px solid #edeef0;
        text-align: center;
        padding-top: 5px;
        float: left; }
        .wrap-blog .main .note .header .date .num {
          font: 25px "RobotoBold", sans-serif; }
        .wrap-blog .main .note .header .date .month {
          font: 12px "RobotoBold", sans-serif; }
      .wrap-blog .main .note .header .headline {
        width: 89.0411%;
        font: 21px "RobotoBold", sans-serif;
        float: left;
        padding: 20px 0;
        margin-left: 3.9726%;
        border-bottom: 1px solid #d1d5d8; }
    .wrap-blog .main .note .description {
      color: gray; }
      .wrap-blog .main .note .description .important {
        display: inline-block;
        font: 18px "OpenSansSemibold",sans-serif;
        color: #1f2225;
        font-style: italic;
        border-left: 4px solid #d1d5d8;
        padding: 24px;
        margin: 40px 0;
        width: 100%; }
    .wrap-blog .main .note .options {
      font-size: 13px;
      color: #b3b3b3; }
      .wrap-blog .main .note .options span {
        padding-right: 20px; }
      .wrap-blog .main .note .options i {
        padding-right: 8px; }
    .wrap-blog .main .note .read-more {
      font: 13px "RobotoBold", sans-serif;
      color: #1f2225;
      text-transform: uppercase;
      margin-top: 33px;
      display: inline-block;
      text-decoration: none; }
      .wrap-blog .main .note .read-more i {
        padding-left: 10px; }
      .wrap-blog .main .note .read-more:hover {
        color: #fb383c; }
    .wrap-blog .main .note .wrap-tag_share {
      margin-top: 45px;
      padding: 40px 0;
      border-top: 1px solid #edeef0;
      border-bottom: 1px solid #edeef0; }
      .wrap-blog .main .note .wrap-tag_share .tags .title-tag, .wrap-blog .main .note .wrap-tag_share .share .title-tag {
        float: left;
        display: inline-block;
        color: #1f2225;
        font: 16px "RobotoBold", sans-serif;
        text-transform: uppercase;
        padding: 2%; }
      .wrap-blog .main .note .wrap-tag_share .tags .cloud-tag .tag, .wrap-blog .main .note .wrap-tag_share .share .cloud-tag .tag {
        float: left;
        padding: 6px 14px;
        font: 13px "RobotoCondensedRegular", sans-serif;
        border: 1px solid #edeef0;
        margin: 4px;
        cursor: pointer; }
        .wrap-blog .main .note .wrap-tag_share .tags .cloud-tag .tag:hover, .wrap-blog .main .note .wrap-tag_share .share .cloud-tag .tag:hover {
          border: 1px solid #1f2225;
          color: #1f2225; }
      .wrap-blog .main .note .wrap-tag_share .share .icon {
        float: left;
        margin-right: 20px;
        font-size: 16px;
        width: 20px;
        height: 20px;
        padding-top: 4px;
        cursor: pointer; }
        .wrap-blog .main .note .wrap-tag_share .share .icon:hover {
          color: red; }
        .wrap-blog .main .note .wrap-tag_share .share .icon .fa-facebook:hover, .wrap-blog .main .note .wrap-tag_share .share .icon .fa-foursquare:hover {
          color: blue; }
        .wrap-blog .main .note .wrap-tag_share .share .icon .fa-instagram:hover {
          color: blue; }
    .wrap-blog .main .note .title-rp {
      color: #1f2225;
      font: 16px "RobotoBold", sans-serif;
      text-transform: uppercase;
      margin: 40px 0;
      width: 100%; }
    .wrap-blog .main .note .item {
      width: 350px;
      height: 480px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .wrap-blog .main .note .item .images {
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
        background-color: #eee;
        width: 300px;
        height: 187px; }
      .wrap-blog .main .note .item .date {
        -webkit-box-flex: 1;
        -webkit-flex: 1 auto;
            -ms-flex: 1 auto;
                flex: 1 auto;
        width: 50px;
        height: 70px;
        background-color: #fb383c;
        margin-right: 29px;
        text-align: center; }
      .wrap-blog .main .note .item .item-head {
        -webkit-box-flex: 4;
        -webkit-flex: 4 auto;
            -ms-flex: 4 auto;
                flex: 4 auto;
        width: 270px;
        height: 70px;
        border-bottom: 1px solid #b3b3b3;
        text-align: left;
        text-transform: uppercase; }
      .wrap-blog .main .note .item .item-caption {
        font-size: 13px;
        color: #b3b3b3; }
      .wrap-blog .main .note .item .options {
        font-size: 13px;
        color: #b3b3b3; }
        .wrap-blog .main .note .item .options span {
          padding-right: 20px; }
        .wrap-blog .main .note .item .options i {
          padding-right: 8px; }

.contacts {
  color: #1f2225;
  margin: 80px 0 140px 0;
  width: 100%; }
  .contacts .form {
    width: 540px;
    height: 100%; }
    .contacts .form .title {
      font: 30px "RobotoBold", sans-serif;
      text-transform: uppercase;
      margin-bottom: 50px; }
    .contacts .form input {
      border: none;
      border-bottom: 1px solid #d1d5d8;
      display: inline-block;
      padding: 20px;
      float: left;
      width: 100%;
      outline: none; }
    .contacts .form input[type=submit] {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #fb383c;
      width: 193px;
      height: 43px;
      text-align: center;
      margin-top: 40px;
      line-height: 0.1; }
    .contacts .form textarea {
      border: none;
      border-bottom: 1px solid #d1d5d8;
      display: inline-block;
      padding: 20px;
      float: left;
      width: 100%;
      outline: none; }
  .contacts .other {
    margin-left: 50px; }
    .contacts .other .item {
      margin-top: 60px; }
      .contacts .other .item i {
        font-size: 21px;
        color: #fb383c;
        display: inline-block;
        margin-right: 20px;
        float: left; }
      .contacts .other .item .lines {
        margin-left: 40px; }
        .contacts .other .item .lines .fline {
          font: 13px "RobotoBold", sans-serif; }
        .contacts .other .item .lines .twline {
          font: 13px "RobotoCondensedRegular";
          color: #7e8893; }
    .contacts .other .follow {
      margin-top: 60px;
      margin-left: -60px; }
      .contacts .other .follow p {
        font: 16px "RobotoBold", sans-serif;
        text-align: center; }
      .contacts .other .follow .icon {
        width: 40px;
        height: 40px;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        border: 1px solid #d1d5d8;
        float: right;
        margin-left: 15px; }
        .contacts .other .follow .icon i {
          font-size: 17px;
          line-height: 2.4;
          padding-left: 9px; }
        .contacts .other .follow .icon .fa-youtube {
          padding-left: 12px; }
          .contacts .other .follow .icon .fa-youtube:hover {
            color: red; }
        .contacts .other .follow .icon .fa-facebook, .contacts .other .follow .icon .fa-foursquare {
          padding-left: 14px; }
          .contacts .other .follow .icon .fa-facebook:hover, .contacts .other .follow .icon .fa-foursquare:hover {
            color: blue; }
        .contacts .other .follow .icon .fa-instagram {
          padding-left: 13px; }
          .contacts .other .follow .icon .fa-instagram:hover {
            color: blue; }
